@media(max-width: 876px){

    .instagram-phone img{
        visibility: hidden;
        
    }

    .instagram-login{
        position: absolute;
        width: 40%;

    }

}

@media (max-width: 500px){
    .instagram-login{
        width: 70%;
    }

    .box-login{
        border: none;
    }
}