a {
    text-decoration: none;
}

body{
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-login{
    text-align: center;
}

.box-login{
    margin-bottom: 3%;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(212, 206, 206);
    background-color: white;
}

#logo{
    margin-top: 7%;
    margin-bottom: 7%;
}

.box-login input{
    display: block;
    margin: auto;
    width: 80%;
    height: 3vh;
    padding: 10px;
    margin-top: 7px;
    border: 1px solid rgb(212, 206, 206);
    border-radius: 3px;
    background-color: rgb(249, 250, 248);
    font-family: Arial, Helvetica, sans-serif;
}


.show-password{
    text-align: center;
    margin: auto;
    padding: 3px;
    position: absolute;
    margin-top: 12px;
    margin-left: 22%;
    border: none;
    background-color: rgb(249, 250, 248);
    outline-color: rgb(249, 250, 248);
    visibility: hidden;
}

#password{
    margin-bottom: 7%;
}

#entrar{
    background-color: rgb(110, 189, 235);
    color: white;
    font-size: 10pt;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    opacity: 0.5;
    padding: 7px;
    padding-left: 36%;
    padding-right: 36%;
    pointer-events: none;
    
}

.other{
    display: flex;
    color: rgb(144, 135, 135);
    font-size: 10pt;
    font-weight: bold;
}

hr{
    width: 30%;
    margin: auto;
    color: rgb(212, 206, 206);
}

.fa-facebook{
    color: rgb(255, 255, 255);
    background-color: rgb(50, 48, 139);
    text-decoration: none;
    padding: 1%;
    font-size: 10pt;
    padding-left: 2.3%;
    padding-bottom: 0%;

}

.face{
    color: rgb(74, 73, 114);
    font-size: 10pt;
    font-weight: bold;
}

.recover{
    margin-bottom: 5%;
    color: rgb(50, 48, 139);
    font-size: 9pt;
}

.images-download{
    display: inline;
}

.box-cadastro{
    font-size: 10pt;
    padding: 10px;
}
#cadastro{
    text-decoration: none;
    font-weight: bold;
    color: rgb(81, 171, 245);
}

.download-app{
    font-size: 10pt;
    font-weight: normal;
}
