a {
    text-decoration: none;
}

body{
    background-color: rgb(250, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

.instagram-login{
    text-align: center;
    width:27%;
}

.box-login{
    margin-bottom: 3%;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(212, 206, 206);
    background-color: white;
}

#logo{
    margin-top: 1%;
    margin-bottom: 4%;
}

.box-login input{
    display: block;
    margin: auto;
    width: 80%;
    height: 3vh;
    padding: 10px;
    margin-top: 7px;
    border: 1px solid rgb(212, 206, 206);
    border-radius: 3px;
    background-color: rgb(249, 250, 248);
    font-family: Arial, Helvetica, sans-serif;
}

.password-space{
    display: flex;
}

.show-password{
    padding: 3px;
    border: none;
    background-color: rgb(249, 250, 248);
    outline-color: rgb(249, 250, 248);
    visibility: hidden;
    position: absolute;
    margin-left: 19%;
    margin-top: 1.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#password{
    margin-bottom: 7%;
    
}

#login{
    background-color: rgb(4, 157, 245);
    color: white;
    font-size: 10pt;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    opacity: 0.5;
    padding: 7px;
    padding-left: 36%;
    padding-right: 36%;
    pointer-events: none;
    
}

.other{
    display: flex;
    color: rgb(144, 135, 135);
    font-size: 10pt;
    font-weight: bold;
    margin-top: 8%;
}

hr{
    width: 30%;
    margin: auto;
    color: rgb(212, 206, 206);
}

.fa-facebook{
    color: rgb(255, 255, 255);
    background-color: rgba(47, 46, 102, 0.801);
    text-decoration: none;
    padding: 1%;
    font-size: 10pt;
    padding-left: 2.3%;
    padding-bottom: 0%;

}

.face{
    color: rgba(47, 46, 102, 0.376);
    font-size: 10pt;
    margin-top: 8%;
    margin-bottom: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

.recover{
    color: rgb(50, 48, 139);
    font-size: 9pt;
}

.images-download{
    display: inline;
}

.box-cadastro{
    font-size: 10pt;
    padding: 10px;
}
#register{
    text-decoration: none;
    font-weight: bold;
    color: rgb(81, 171, 245);
}

.box-login:nth-child(4){
    padding-top: 1%;
    border: none;
    font-size: 10pt;
}

.box-login:nth-child(3){
    font-size: 10pt;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
